$bg: #0c1117;
$white: #ffffff;
$blue: #003adb;
$cardText: #f8f9fa;
$cardBg: #1b2837;
$teamBlue: #2b61f7;
$input: #2e2e2e;
$address: #b6b6b6;
$footer: #787878;
$cardBlogBg: #11161c;
$footerBg: #0a0f14;
