@use "../common/common";

.advance {
  background-color: common.$teamBlue;
  margin-bottom: 122px;

  .container {
    @include common.container;
  }

  &__wrap {
    @include common.d-grid(10, 239px);
    align-items: center;
    justify-items: center;
    padding-top: 61px;
    padding-bottom: 47px;
  }
}
