@use "../common/common";

.blog {
  .container {
    @include common.container;
  }

  &-wrap {
    @include common.d-grid(12);
    margin-bottom: 213px;
    gap: 30px;
  }

  &__title {
    text-align: center;
    color: common.$white;
    font-size: 48px;
    font-family: common.$fontFamily;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 82px;
  }
}
