@use "../common/common";

.service {
  margin-bottom: 117px;

  &__title {
    text-align: center;
    font-size: 48px;
    color: common.$white;
    font-weight: 500;
    font-family: common.$fontFamily;
    margin-bottom: 79px;
  }

  .container {
    @include common.container;
  }

  &-wrap {
    @include common.d-grid(12, 345px);
    gap: 13px;
  }

  &__solution {
    grid-column: span 4;
    padding: 59px 0 0 57px;

    &-btn {
      margin-bottom: 0;
    }

    h4 {
      color: common.$white;
      font-size: 32px;
      font-family: common.$fontFamily;
      font-weight: 700;
      line-height: 143%;
      letter-spacing: 0.32px;
      text-transform: uppercase;
      margin-bottom: 14px;
    }

    p {
      color: common.$white;
      font-size: 20px;
      font-family: common.$fontFamily;
      font-weight: 300;
      line-height: 28px;
      margin-bottom: 30px;
    }
  }
}
